#root {
  width: 100%;
}

header {
  background-color: aquamarine;
  padding: 1rem;
}

main {
  padding: 0 1rem;
}

h1 {
  margin: 0;
}

h5 {
  margin: 0;
  display: inline-block;
}

.backlog,
.completed,
.in_progress {
  display: inline-block;
  margin-left: 5px;
  padding: 5px 10px;
  border-radius: 999px;
  font-weight: bold;
}


.backlog {
  background-color: red;
}

.completed {
  background-color: green;
  color: white;
}

.in_progress {
  background-color: orange;
}